.node {
    stroke: #fff;
    stroke-width: 1.5px;
}
.link {
    color:#ccc;
    stroke: #ccc;
    opacity: 0.0;
    stroke-width: 1.5px;
}

body {
    color: black;
    text-align:center;  
    stroke-width: 0;
    font-size: 14px;
    font-family: "Helvetica";
    font-weight: initial;
}
.node text {
    stroke: black;
    color: black;
    stroke-width: 0;
    pointer-events: none;
    font-size: 12px;
    font-weight: initial;
}
.sldr {
    position: relative;
    display: inline-block;
    top: 4px;
}